<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="head"></div>
    <link rel="stylesheet" th:href="@{/plugins/datatables/dataTables.bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/layer/layui/css/layui.css}"/>
    <script th:src="@{/layer/layui/layui.all.js}"></script>
    <title>用户管理</title>
    <style type="text/css">
        .table-striped
        td {
            text-align: center;
        }

        th {
            text-align: center;
        }
    </style>
</head>
<script type="text/javascript">
    function check() {
        var r = confirm("确定要删除吗？");
        if (r == true) {
            return true;
        } else {
            return false;
        }
    }
    function checkPassword() {
        var r = confirm("确定要将密码重置为初始密码吗？");
        if (r == true) {
            return true;
        } else {
            return false;
        }
    }
</script>

<body class="hold-transition skin-blue sidebar-mini ">
<div class="wrapper">
    <div th:replace="header"></div>
    <div th:replace="sidebar"></div>
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <a th:href="@{/pubUser/form}" title="新增帐号"><span class="glyphicon glyphicon-plus"></span></a>
                        </div>
                        <div class="box-body">
                            <div class="col-xs-6" style="float: right">
                                <label style="font-weight: normal;text-align: left;font-size: 16px;white-space: nowrap;">账号名 ：
                                    <input class="" style="border-radius: 1px;padding: 3px;width: 150px;height: 30px;" placeholder="请输入账号" type="text" name="account" id="account">
                                </label>
                                <button class="" id="serchbtn" style="border-radius: 1px;width: 85px;height: 30px;margin-left: 10px;">
                                    <i class="fa fa-search">&nbsp;&nbsp;查&nbsp;&nbsp;询&nbsp;&nbsp;</i>
                                </button>
                            </div>
                            <table id="dataTable" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>帐号名</th>
                                    <th>ip</th>
                                    <th>状态</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--<div th:replace="footer"></div>-->
</div>

<div th:replace="script"></div>

<!-- page script -->
<script>
    $(function () {
        var ctxPath = '[[@{/}]]';
        var table = $('#dataTable').DataTable({
            "processing": true,
            "serverSide": true,
            "searching": false,//自定义搜索
            "language": {
                "sProcessing": "加载中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "暂无数据",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                }
            },
            "ajax": {
                "url": "[[@{${api}}]]",
                "type": "POST"
            },
            "columns": [
                {"data": "account"},
                {"data": "ip"},
                {"data": "status"},
                {"data": "createTime"},
                {"data": null}
            ],
            "columnDefs": [{
                "targets": 2,
                "render": function (data, type, row, meta) {
                    if (data == 1) {
                        return '启用';
                    } else {
                        return '禁用';
                    }
                }
            },{
                "targets": 4,
                "searchable": false,
                "render": function (data, type, row, meta) {
                    var id = data.id;
                    var status = data.status;
                    return  "<a href='" + ctxPath + "pubUser/form?pubUserId=" + id + "'><span " +
                    "class='glyphicon glyphicon-edit' title='编辑'></span></a>"+
                    "<span name='lock'   style='cursor: pointer;margin-left: 10px;' title='切换状态' " +
                    "data='" + ctxPath + "pubUser/togglestatus?status=" + status + "&pubUserId=" + id + "' " +
                    "class='glyphicon glyphicon-lock'></span>"+
                    " <span name='trash' title='删除'  data='" + ctxPath + "pubUser/"+id+"/delete'" +
                    " style='cursor: pointer;margin-left: 5px;' class='glyphicon glyphicon-trash'></span>"+
                    "<a href='" + ctxPath + "pubUser/" + id + "/select-role'><span " +
                        "style='cursor: pointer;margin-left: 10px;' class='glyphicon glyphicon-transfer' title='分配角色'></span></a>"+
                    " <span name='rePassword' title='重置密码'  data='" + ctxPath + "pubUser/"+id+"/rePassword'" +
                    " style='cursor: pointer;margin-left: 5px;' class='glyphicon glyphicon-repeat'></span>";
                }
            }]
        });

        function search() {
            var account = $("#account").val();
            var param = {
                "account": account
            };
            table.settings()[0].ajax.data = param;
            table.ajax.reload();

        }

        $("#serchbtn").click(function () {
                search();
        });
    });
</script>
<script th:src="@{/js/server-page.js}"></script>
</body>
</html>